.menu-card {
  padding: 1%;
  border-radius: 2%;
  border: none;
  margin: 20px auto;
  text-align: left;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  min-width: 470px;
  width:fit-content;
}

.menu-card2 {
  padding: 1%;
  border-radius: 2%;
  border: none;
  margin: 20px auto;
  text-align: left;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  min-width: 800px;
  width:fit-content;
}

.menu-title {
  font-size: 1.75rem;
  color: var(--text-primary);
  margin-bottom: 10px;
  border-bottom: 3px solid var(--shadow-color);
  padding-bottom: 8px;
  text-align: center;
}

.meal-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 2%;
}

.meal-time {
  flex: 1; 
  min-width: 90px;
  padding: 2%;
}

.meal-title {
  font-size: 1.3rem;
  color: var(--text-primary);
  margin-bottom: 10px;
}

.meal-list {
  list-style-type: none;
  padding: 0;
}

.meal-list li {
  font-size: 1rem;
  padding: 10px;
  background-color: #f0f4f8;
  margin-bottom: 8px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  border-left: 5px solid var(--green);
}

.meal-list li:hover {
  background-color: var(--shadow-color);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .meal-container {
    flex-direction: column; /* Stack columns vertically on smaller screens */
  }
}
